@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Znalazłeś błąd? Nie chcesz, aby Twoje dane znajdowały się na tej stronie?
    Wyślij do nas maila:
</p>

<address>
    <strong>Janek:</strong>   <a href="mailto:grzybowskij@example.com">grzybowskij@example.com</a><br />
    <strong>Ania:</strong> <a href="mailto:witwickaa@example.com">witwickaa@example.com</a>
</address>