@model IEnumerable<int>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="http://dummyimage.com/1600x250&text=Logo Archiwum Festiwalowego" class="img-responsive" alt="" /> 
</div>

<div class="row">
    @foreach (var ft in Model)
    {
        <div class="col-md-4">
            <img src="http://dummyimage.com/300x175&text=Logo @ft Festiwalu" alt="" class="img-responsive" />            
            <h4>Festival @ft</h4>
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <p>@Html.ActionLink("Learn more »", "Details", "Festival", new {id = ft}, new {@class = "btn btn-default"})</p>
        </div>
    }
</div>

<!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->