@model IEnumerable<int>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="http://dummyimage.com/1600x250&text=Logo Archiwum Festiwalowego" class="img-responsive" alt="" /> 
</div>

<div class="row">
    @foreach (var ft in Model)
    {
        <div class="col-md-4">
            <img src="http://dummyimage.com/300x175&text=Logo @ft Festiwalu" alt="" class="img-responsive" />            
            <h4>Festival I</h4>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control.
            </p>
            <p>@Html.ActionLink("Learn more »", "Details", "Festival", new {id = ft}, new {@class = "btn btn-default"})</p>
        </div>
    }
</div>

<!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->