<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAFService">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="myClientBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication
              certificateValidationMode="Custom"
              customCertificateValidatorType="AF_Desktop_Application_WCF.MyX509Validator,AF_Desktop_Application_WCF" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://localhost:44300/AFService.svc/AFService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAFService"
        contract="AFServiceReference.IAFService" name="WSHttpBinding_IAFService"
        behaviorConfiguration="myClientBehavior">
        <identity>
          <dns value="AFCert"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>